#UnifiedActivity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #215ca0;
}
.ua-label {
  padding: 5px;
  margin: 5px;
}
.ua-icon {
  padding: 5px;
  margin: 5px;
  color: gray;
}
